#content {
    text-align: center;
    color:rgb(84, 201, 255);
    
}
h2 {
    font-style:italic;
}
p {
    color:black;
}
button {
    
    
    
    height:4vh;
    width:6vw;
    font-size: 3vw;
    border-style:dashed;
    border-right-style: none;
    
    color:rgb(145, 65, 0);
    background-color: rgb(236, 236, 236);
    font-size: 1.5vh;
}

#bGroup {
        display: flex;
        flex-direction: column;
        row-gap: 10vh;
        
}
#group {
    display:flex;
    align-items: center;
    justify-content: center;
}

